@font-face {
    font-family:'arzhu';
    src:url('https://cdn.jsdelivr.net/gh/1115501230/bokeimgs/123456.ttf');
    font-family:'wawa';
    src:url('https://cdn.jsdelivr.net/gh/1115501230/bokeimgs/kitty.ttf');

}
h1#site-title {
    font-family:arzhu!important
}
span#subtitle {
    font-family:arzhu!important
}
a#site-name {
    font-family:arzhu!important
}

#footer {
    background: rgba(255,255,255,.15);
    color: #000;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    backdrop-filter: saturate(100%) blur(5px)
}

#footer::before {
    background: rgba(255,255,255,.15)
}

#footer #footer-wrap {
    color: var(--font-color)
}

#footer #footer-wrap a {
    color: var(--font-color)
}

#page-header {
	font-family:'wawa';
}
