@font-face {
    font-family:'arzhu';
    src:url('https://cdn.jsdelivr.net/gh/1115501230/bokeimgs/123456.ttf');
    font-display:swap
}
h1#site-title {
    font-family:arzhu!important
}
span#subtitle {
    font-family:arzhu!important
}
a#site-name {
    font-family:arzhu!important
}